* {
    box-sizing: border-box;
  }
  
  .dropbtn {
 
  
    border: none;
  
    /* font-size: 17px; */
    /* padding: 17px; */
  
  }
  
  .dropdown {
    position: relative;
  
    /* display: inline-block; */
  }
 
 
  
  .dropdown-content {
    display: none;
    min-width: 400px;
    border-radius: 10px;
    background-color: white;
    margin-top:   270px;
    position: absolute;

    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .dropdown-content a {

    display: block;

    color: #000;
    text-decoration: none;
 
    margin-left: 20px;

    padding-left: 10px;
    /* font-size: 13px; */
  }
  
  .dropdown:hover{

   
    color:#FF6A00
  }
 
 
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .cuk{
   
    transform: rotateX(150deg);
   
   }
     


   /* //2nd dropdown */
   
   

   .dropbtn2 {
 
  
    border: none;
    /* font-size: 17px; */
    /* padding: 17px; */
  
  }
  
  .dropdown2 {
    position: relative;
    /* display: inline-block; */
  }
 
 
  
  .dropdown2-content2 {
    display: none;
    min-width: 250px;
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    margin-top:   190px;
    position: absolute;

    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .dropdown2-content2 a {

    display: block;

    color: #000;
    text-decoration: none;
 
    margin-left: 20px;

    padding-left: 10px;
    /* font-size: 13px; */
  }
  
  .dropdown2:hover{

   
    color:#FF6A00
  }
 
 
  .dropdown2:hover .dropdown2-content2 {
    display: block;
  }
  .dropdown2:hover .cuk2{
   
    transform: rotateX(150deg);
   
   }

  
  
  
   @media screen and (max-width:900px) {
    .dropdown-content {
      display: none;
      min-width: 300px;
      padding-top: 20px;
      margin-top:   420px;
      position: absolute;
  
      z-index: 1;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    
   }

  
  